body {
  --font-color-0: #777777;
  --font-color-1: #666666;
  --font-color-2: #4d4d4d;
  --font-color-3: #242424;

  --white: #ffffff;

  --blue-0: #eaf8ff;
  --blue-5: #0969da;

  --red-0: #ffebe9;

  --trans-white-2: #ffffffd9;
  --trans-white-5: #ffffffb4;

  --trans-blue-0: #ddf4ff77;
  --trans-blue-1: #b6e3ff77;
  --trans-blue-2: #80ccff77;

  --trans-pink-0: #ffeff777;
  --trans-pink-1: #ffd3eb77;
}